<div *ngIf="album">
    <h1>{{ album.name }}</h1>
    <p>
        <img src="{{ album.images[1].url }}">
    </p>
    <p>Artista: {{album.artists[0].name}}</p>
    <p>Data di rilascio: {{album.release_date}}</p>
    <p>Numero totale delle tracce: {{album.total_tracks}}</p>
    <h2>Tracks</h2>
      <ul>
        <li *ngFor="let track of album.tracks.items">
          <h4>
            <a [routerLink]="['/tracks', track.id]">
              {{ track.name }}
            </a>
          </h4>
        </li>
      </ul>

    <p><a href (click)="back()">Back</a></p>
</div>
